<ion-header>
    <ion-toolbar>
        <ion-title *ngIf="!todo">Create New Todo</ion-title>
        <ion-title *ngIf="todo">Update {{ todo.id }}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>

    <div></div>

    <form [formGroup]="todoForm" (ngSubmit)="createTodo()">

        <ion-label>Todo Details</ion-label>
        <ion-textarea formControlName="content" type="content" placeholder="your todo details" rows="2"></ion-textarea>

        <ion-label>Status</ion-label>
        <ion-list>
            <ion-radio-group formControlName="status">

                <ion-item>
                    <ion-label>Pending</ion-label>
                    <ion-radio slot="start" value="pending" checked></ion-radio>
                </ion-item>

                <ion-item>
                    <ion-label>Complete</ion-label>
                    <ion-radio slot="start" value="complete"></ion-radio>
                </ion-item>

            </ion-radio-group>
        </ion-list>

        <ion-button [disabled]="todoForm.invalid" type="submit">{{ todo ? 'Update!' : 'Create!' }}</ion-button>
    </form>




</ion-content>