<ion-app>

    <ion-menu side="start" type="push">
        <ion-header>
            <ion-toolbar color="dark">
                <ion-title>Menu</ion-title>
            </ion-toolbar>
        </ion-header>

        <!-- List of Text Items -->
        <ion-content>
            <ion-list>
                <ion-item href="/">
                    <ion-label>Home</ion-label>
                </ion-item>
                <ion-item (click)="resetTutorial()">
                    <ion-label>Intro Tutorial</ion-label>
                </ion-item>
                <ion-item href="/todo">
                    <ion-label>Todo List</ion-label>
                </ion-item>
                <ion-item href="/" disabled>
                    <ion-label>Camera</ion-label>
                    <ion-chip color="success">
                        <ion-label>Soon</ion-label>
                    </ion-chip>
                </ion-item>
                <ion-item href="/" disabled>
                    <ion-label>Maps</ion-label>
                    <ion-chip color="success">
                        <ion-label>Soon</ion-label>
                    </ion-chip>
                </ion-item>
                <ion-item href="/" disabled>
                    <ion-label>Notifications</ion-label>
                    <ion-chip color="success">
                        <ion-label>Soon</ion-label>
                    </ion-chip>
                </ion-item>
                <ion-item href="/" disabled>
                    <ion-label>In-app Payments</ion-label>
                    <ion-chip color="success">
                        <ion-label>Soon</ion-label>
                    </ion-chip>
                </ion-item>
            </ion-list>

        </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
</ion-app>