<ion-header>
    <ion-toolbar>
        <ion-title>My Todo List</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>


    <ion-segment (ionChange)="updateFilter($event.detail.value)">
        <ion-segment-button value="" checked>
            All
        </ion-segment-button>
        <ion-segment-button value="complete">
            Complete
        </ion-segment-button>
        <ion-segment-button value="pending">
            Pending
        </ion-segment-button>


    </ion-segment>

    <ion-list>

        <!-- <todo-item *ngFor="let todo of filtered | async" [todo]="todo">


        </todo-item> -->

        <ion-item *ngFor="let todo of filtered | async; trackBy: trackById">
            <!-- <ion-item *virtualItem="let todo"> -->
            <ion-label>
                <span [class.complete]="todo.status === 'complete'">{{ todo.content }}</span>
            </ion-label>

            <ion-checkbox (click)="toggleStatus(todo)" [checked]="todo.status === 'complete'" color="success"></ion-checkbox>


            <ion-button [href]="'todo/' + todo.id">
                <ion-icon name="eye"></ion-icon>
            </ion-button>
        </ion-item>


    </ion-list>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="presentModal()">
        <ion-fab-button>
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>



</ion-content>