<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button autoHide></ion-menu-button>
        </ion-buttons>

        <ion-title>My Todo List</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>


    <ion-segment (ionChange)="updateFilter($event.detail.value)">
        <ion-segment-button value="" checked>
            All
        </ion-segment-button>
        <ion-segment-button value="complete">
            Complete
        </ion-segment-button>
        <ion-segment-button value="pending">
            Pending
        </ion-segment-button>


    </ion-segment>

    <ion-list>

        <ion-item *ngFor="let todo of filtered | async; trackBy: trackById">
            <ion-label>
                <span [class.complete]="todo.status === 'complete'">{{ todo.content }}</span>
            </ion-label>


            <ion-button 
                *ngIf="todo.status !== 'complete'"
                (click)="toggleStatus(todo)" 
                color="light">
            
                <ion-icon name="radio-button-off"></ion-icon>
            
            </ion-button>

            <ion-button 
                *ngIf="todo.status === 'complete'"
                (click)="toggleStatus(todo)" 
                color="success">
        
                <ion-icon name="checkmark"></ion-icon>
        
            </ion-button>



            <ion-button [routerLink]="todo.id">
                <ion-icon name="eye"></ion-icon>
            </ion-button>

            <ion-button (click)="presentTodoForm(todo)" color="tertiary">
                <ion-icon name="create"></ion-icon>
            </ion-button>

            <ion-button (click)="deleteTodo(todo)" color="danger">
                <ion-icon name="trash"></ion-icon>
            </ion-button>
        </ion-item>


    </ion-list>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="presentTodoForm()">
        <ion-fab-button>
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>



</ion-content>